@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.chat-area {
  background-color: #F8F8F8;
}

.user-message {
  background-color: #FFFFFF;
}

.bot-message {
  background-color: #F0F0F0;
}

/* Add more custom styles as needed */